{% extends 'base.html' %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}

<style>
  body {
    font-family: "Roboto", sans-serif;
  
  }
  button {
    background-color: #3398E1;
    color: white;
    padding: 5px 40px 5px 40px;
  }
  .card-body {
    text-align: center;
  }
</style>

<header class="masthead" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-white"> Create Account </h3>
          <p class="text-light"></p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        
        <br><br>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="button">
            Submit
          </button>
          <br>

        </form>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}
