{% extends 'base.html' %}

{% block title %}balance{% endblock %}

{% block content %}
<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
       
            
            .body1{
                margin: auto;
                 width: 850px;
                border: 1px solid #4262a5 ;
                }
        
           .center1 {
            margin: auto;
            text-align: center;
            font-size: 16px;
            letter-spacing: 2px;

            font-family: 'akkurat-light';
           width: 100%;
           padding: 50px;}
         </style>
 </head>
<body>
        <div class="center1">
                <div class="body1">
   <p> Hi, {{ user.email }}! The balance available is&nbsp;<b>{{user.balance}}</b> Rs/-</p>
   </div>
   <br>
   <a href="/">Go back</a>
</div>
</body>
{% endblock %}

</html>