{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    
  body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #fdfdfd;
  }

  .head_text{
    color: white;
  }
  .card{
    box-shadow: 0 16px 48px #E3E7EB;
  }
  .left{
    width: 30%;
    float: left;
    display: block;
  }
  .right{
    width: 70%;
    height: 100%;
    float: right;
    display: block;
  }
  .card-title {
    font-size: 20px;
  }
  .card-title a{
    font-size: 8px;
  }
  .btn {
    font-size: 12px;
  }
  .right .btn {
    margin: 0px 5px 0px 0px;
    float: right;
  }
  .create-account {
    float: right;
  }
  .create-account .btn{
    border-color:white;
  }
  .main-btn a{
    width: 100%;
    margin: 0px 0px 15px 0px;

  }
</style>


{% if user.is_authenticated %}

  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3 class=" site-heading my-4 mt-3 text-white"> Welcome, {{ user.full_name }} </h3>
            <p class="text-light">계좌는 최대 5개 까지 개설 가능합니다. &nbsp</p>
            <div class="create-account">
                <a href="/accounts" class="btn btn-primary">계좌 생성</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
      
  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
        {% for account in account_obj %}
          <div class="card mb-4" >
            <div class="card-body grid">
              
              <div class="grid-tem left">
                <p class="card-title">
                  {{ account.bank }} 계좌 
                  <a class="card-text text-muted">{{ account.account_type }}</a>
                </p>
                <p class="card-text text-muted h6">{{ account.account_no }}</p>
                <p class="card-text">{{ account.balance }} 원</p>
              </div>
              
              <div class="grid-tem right">
                <div style="position: absolute; bottom: 20px; right: 20px">

                  <a href="/accounts/detail" class="btn btn-primary">조회</a>

                  {% with "/transactions/withdraw/"|add:account.account_no as account_no %}
                    <a href= {{ account_no }} class="btn btn-primary">출금</a>
                  {% endwith %}

                  {% with "/transactions/deposit/"|add:account.account_no as account_no %}
                    <a href= {{ account_no }} class="btn btn-primary">입금</a> 
                  {% endwith %}

                  {% with "/transactions/transfer/"|add:account.account_no as account_no %}
                    {% if account.daily_transfer_number <= 0 %}
                      <a href= {{ account_no }} class="btn btn-danger">이체</a>
                    {% else %}
                      <a href= {{ account_no }} class="btn btn-primary">이체</a>
                    {% endif %}
                  {% endwith %}

                </div>

                {% if account.is_main_account %}
                  <div style="position: absolute; top: 20px; right: 20px">
                    <div class="btn btn-success">주 계좌</div>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% block sidebar %}
      {% include 'sidebar.html' %}
      {% endblock sidebar %}

      
      

    </div>
  </div>

{% else %}
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3 class=" site-heading my-4 mt-3 text-white"> Welcome Account Manager </h3>
            <p class="text-light">계좌를 추가하고 입금, 출금, 이체를 수행해보세요! &nbsp</p>
          </div>
        </div>
      </div>
    </div>
  </header>
      
  <div class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-12 mt-3">
        <div class="card mb-8">
          <div class="card-body" style="position: relative; padding: 200px 0px 0px 0px;">
        
            <div style="position: absolute; top: 40%; left: 40%">
              <!-- <h2 class="card-title">Login or Register to use Services</h2> -->
              <div class="main-btn">
                <a href="{% url 'signup' %}" class="btn btn-primary" >회원가입</a>
                <a href="{% url 'login'  %}" class="btn btn-primary" >로그인</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
{% endif %}


{%endblock%}

