{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
        .card-text-sidebar {
            font-size: 12px;
            color: gray;
            
        }
        .left {
            width: 70%;
            float: left;
        }
        .right {
            width: 30%;
            font-size: 10px;
            color: rgb(83, 83, 83);
        }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">Recent 5 Transactions</h5>
    
    
    <div class="card-body">
        
        {% for i in transactions_recent%}
            <div class="left">
                
                {% if i.get_action_name == "Deposit" %}
                    <div href= "" class="btn btn-light account" style="margin: 0px 10px 10px 0px"> {{i.account_bank}} </div>
                    +{{i.amount}} 원
                    <p class="card-text-sidebar"> 입금 &rarr; 내 {{i.account_bank}}계좌</p>
                {% endif %}


                {% if i.get_action_name == "Withdraw" %}
                    <div href= "" class="btn btn-light account" style="margin: 0px 10px 10px 0px"> {{i.account_bank}} </div>
                    -{{i.amount}} 원
                    <p class="card-text-sidebar"> 내 {{i.account_bank}}계좌 &rarr; 출금</p>
                {% endif %}


                {% if i.get_action_name == "Transfer_debit" %}
                    <div href= "" class="btn btn-light account" style="margin: 0px 10px 10px 0px"> {{i.account_bank_from}} </div>
                    -{{i.amount}} 원
                    {% if user.full_name == i.receiver_name %}
                        <p class="card-text-sidebar"> 내 {{i.account_bank_from}}계좌 &rarr; 내 {{i.account_bank_to}}계좌</p>
                    {% else %}
                        <p class="card-text-sidebar"> 내 {{i.account_bank_from}}계좌 &rarr; {{i.receiver_name}}</p>
                    {% endif %}
                {% endif %}


                {% if i.get_action_name == "Transfer_credit" %}
                    <div href= "" class="btn btn-light account" style="margin: 0px 10px 10px 0px"> {{i.account_bank_to}} </div>
                    +{{i.amount}} 원
                    {% if user.full_name == i.user_name %}
                        <p class="card-text-sidebar"> 내 {{i.account_bank_from}}계좌 &rarr; 내 {{i.account_bank_to}}계좌</p>
                    {% else %}
                        <p class="card-text-sidebar"> {{i.user_name}} &rarr; 내 {{i.account_bank_to}}계좌</p>
                    {% endif %}
                {% endif %}

            </div>
            <div class="right text-right">
                {{ i.timestamp|date:"Y-m-j" }} <br>
                {{ i.timestamp|date:"g:i A" }}
            </div>
            <br><br><br>
            <hr>
        {% endfor %}

        <a href="/transactions/timeline" class="btn btn-primary sidebar" style="float: right">상세 조회</a>

        
    </div>

</div>
</div>

{% endblock sidebar %}